/* Dashboard.css */

.dashboard-container {
    display: flex; 
    flex-direction: column; 
    height: 100vh; 
  }
  
.xdd{
  width: 145% !important;
  padding-top: 5px;
}
  
  .main-content{
    display: flex; 
    flex-grow: 1; 
    padding-top: 0;
  }
  
  .sidebar-container {
    flex: 0 0 250px; /* Sidebar width */
  }
  
  .main-content {
    flex-grow: 1; /* Occupy the remaining space */
    margin-top: 0px;
    padding: 5px; /* Padding around main content */
    /* Add more styles if needed */
  }
  