
.nav-link {
  font-size: 21px;
  padding: 0.3rem 20rem; 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: inherit; /* Change the font size to your preferred size (e.g., 18px) */
}
.nav-link:hover {
  color: rgb(37, 186, 227); /* Change the color to your preferred blue color */
}

