/* Sidebar.css */
#sidebar {
  min-width: 150px;
  max-width: 150px;
  height: 100%;
  position: fixed;
  top: 60px; /* Adjust this value to match the height of your navbar */
  left: 0;
  overflow-y: auto;
}

.sidebar-option {
  font-size: 19px;
  margin-top: 28px;
  cursor: pointer;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: inherit;
}

.sidebar-option:hover {
  text-decoration: underline;
  color: rgb(37, 186, 227);
}


.sidebar-option a {
  color: black; /* Set the link text color to black */
  text-decoration: none; /* Remove the underline on the link (optional) */
}

.sidebar-option a:hover {
  color: rgb(37, 186, 227);/* Set the link color to blue when hovered */
  }
