.system-info-card {
    background-color: #265c96;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
  }
  
  .system-info-title {
    font-weight: bold;
    font-size: 1.5em;
    color: azure;
    margin-bottom: 10px;
  }
  
  .system-info-value {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
  }
  .dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    size: 4em;
    grid-gap: 20px;
    padding: 20px;
  }
  
  .grid-item {
    background-color:grey;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 10px;
    size: 100;
  }