/* Table.css */
.table-container {
    margin-top: 40px; /* Adjust the top margin as needed */
  }
  
  .visible-column {
    margin-left: 10px; /* Left margin of 20px */
    margin-right: 10px;/* Adjust the right margin as needed */
    border-left: 3px solid #a6a8ac; /* Adjust the border color and width as needed */
  }
  
  .table-filter {
    width: 40%; 
    margin-left: 0px;
    margin-top: 40px; /* Set the width to 60% of its container */
  }

  .table-container {
    margin-left: 0px;
    margin-right: 20px;
  }

  .gray-bg {
    background-color: #4a4444; /* Grey color */
    color: #c1b3b3; /* Text color, adjust as needed */
  }

  .btn-filtered {
    margin-left: 70px; /* Adjust the value as needed */
  }
