.task-manager-page {
  font-family: 'Arial', sans-serif;
  margin-top: 5400px; 
  padding: 1rem;
  width: 115%;
}

.process-list {
  margin-top: 50px;

}

.tm{
  width: 110% !important;
}

.tablek {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100% !important;
}


h2{
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
}

.tablek thead th {
  background-color: #f5f5f5;
}

.tablek tbody tr:hover {
  background-color: #f0f0f0;
}

.tablek td, .tablek th {
  padding: 0.75rem; /* Increase padding for spacing */
  text-align: left;
  border-bottom: 1px solid #dee2e6;
  vertical-align: middle;
}


.progress {
  border-radius: 0.25rem;
}

.memory-usage-bar {
  background-color: #e9ecef;
  border-radius: 0.25rem;
  overflow: hidden;
  margin-right: 10px;
}

.memory-usage-low {
  background-color: #28a745; /* Green for low usage */
}

.memory-usage-medium {
  background-color: #ffc107; /* Yellow for medium usage */
}

.memory-usage-high {
  background-color: #dc3545; /* Red for high usage */
}

.memory-usage-critical {
  background-color: #f44336; /* Red for critical usage */
}

.memory-usage-medium, .memory-usage-high {
  color: black;
}

.memory-usage {
  color: white;
  text-align: right;
  padding-right: 5px;
  line-height: 20px;
}


